.linha-1 { background-color: rgb(23, 23, 150); }
.linha-2 { background-color: rgb(0, 122, 94); }
.linha-3 { background-color: rgb(237, 46, 56); }
.linha-4 { background-color: rgb(255, 213, 37); color: black !important; }
.linha-5 { background-color: rgb(186, 31, 181); }
.linha-6 { background-color: rgb(237, 110, 0); } /* FORA DE OPERAÇÃO */
.linha-15 { background-color: rgb(143, 143, 140); }
.linha-17 { background-color: rgb(212, 133, 0); } /* FORA DE OPERAÇÃO */

.linha-7 { background-color: rgb(147, 50, 142); }
.linha-8 { background-color: rgb(145, 147, 136); }
.linha-9 { background-color: rgb(0, 171, 132); }
.linha-10 { background-color: rgb(0, 119, 139); }
.linha-11 { background-color: rgb(220, 68, 5); }
.linha-12 { background-color: rgb(0, 26, 114); }
.linha-13 { background-color: rgb(0, 177, 64); }
.linha-14 { background-color: rgb(16, 24, 32); } /* FORA DE OPERAÇÃO */




.status-1 { background-color: #5cb85c; border: 1px solid #3d823d; }
.status-2 { background-color: #f0ad4e }
.status-3 { background-color: #d9534f }
.status-4 { background-color: #991c18 }



.badge.linha-container {
    margin-top: 12px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 4px;

    position: relative;
}

.badge.status {
    position: absolute;
    text-transform: uppercase;
    padding-top: 3px;
    height: 16px;
    bottom: -8px;
    left: 32px;
}

.operadoras-logo {
    background-color: white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 2px;
}