.linha-1 { background-color: rgb(23, 23, 150); }
.linha-2 { background-color: rgb(0, 122, 94); }
.linha-3 { background-color: rgb(237, 46, 56); }
.linha-4 { background-color: rgb(255, 213, 37); color: black !important; }
.linha-5 { background-color: rgb(186, 31, 181); }
.linha-6 { background-color: rgb(237, 110, 0); } /* FORA DE OPERAÇÃO */
.linha-15 { background-color: rgb(143, 143, 140); }
.linha-17 { background-color: rgb(212, 133, 0); } /* FORA DE OPERAÇÃO */

.linha-7 { background-color: rgb(147, 50, 142); }
.linha-8 { background-color: rgb(145, 147, 136); }
.linha-9 { background-color: rgb(0, 171, 132); }
.linha-10 { background-color: rgb(0, 119, 139); }
.linha-11 { background-color: rgb(220, 68, 5); }
.linha-12 { background-color: rgb(0, 26, 114); }
.linha-13 { background-color: rgb(0, 177, 64); }
.linha-14 { background-color: rgb(16, 24, 32); } /* FORA DE OPERAÇÃO */

.linha-barra {
    border-radius: 32px;
    height: 16px;
    padding: 0;

    display: flex;
}

.estacao {
    margin: 2px 8px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    background-color: white;

    position: relative;
}

.elevador {
    background-color: rgb(71, 156, 253);
}

.problema-1 {
    background-color: rgb(90, 38, 38) !important;
}

.problema-2 {
    background-color: rgb(154, 190, 54) !important;
}

.estacao label {
    position: absolute;
    left: -23px;
    top: 44px;
    border: 1px solid lightgray;
    border-radius: 50px;
    transform: rotate(45deg);
    font-weight: bold;
    width: 150px;
    padding: 0 0 0 20px;
    font-size: 10px;
}