.linha-1 { background-color: rgb(23, 23, 150); }
.linha-2 { background-color: rgb(0, 122, 94); }
.linha-3 { background-color: rgb(237, 46, 56); }
.linha-4 { background-color: rgb(255, 213, 37); color: black !important; }
.linha-5 { background-color: rgb(186, 31, 181); }
.linha-6 { background-color: rgb(237, 110, 0); } /* FORA DE OPERAÇÃO */
.linha-15 { background-color: rgb(143, 143, 140); }
.linha-17 { background-color: rgb(212, 133, 0); } /* FORA DE OPERAÇÃO */

.linha-7 { background-color: rgb(147, 50, 142); }
.linha-8 { background-color: rgb(145, 147, 136); }
.linha-9 { background-color: rgb(0, 171, 132); }
.linha-10 { background-color: rgb(0, 119, 139); }
.linha-11 { background-color: rgb(220, 68, 5); }
.linha-12 { background-color: rgb(0, 26, 114); }
.linha-13 { background-color: rgb(0, 177, 64); }
.linha-14 { background-color: rgb(16, 24, 32); } /* FORA DE OPERAÇÃO */

.linha-barra {
    border-radius: 32px;
    width: 20px;
    padding: 1px 0;
}

.estacao {
    margin: 16px auto;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    border: 2px solid white;
    background-color: white;
}

.elevador {
    background-color: rgb(71, 156, 253);
}

.problema-1 { background-color: rgb(90, 38, 38) !important; }
.problema-2 { background-color: rgb(154, 190, 54) !important; }
.problema-3 { background-color: rgb(138, 138, 138) !important; }

.estacao label {
    transform: translate(17px, -7px);
    font-weight: bold;
    width: 200px;
    font-size: 10pt;
}