<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">&times;</button>
    <h4 class="modal-title w-100" id="myModalLabel">LINHA {{ linha.codigo }} - {{ linha.cor }}</h4>
</div>
<div class="modal-body form-row">
    <div class="col-6 col-sm-5 border-right linha-container-col">
        <app-draw-railroad [linha]="'linha-' + linha.codigo" [estacoes]="linha.estacoes"></app-draw-railroad>
    </div>
    <div class="col-6 col-sm-7 border-left">
        {{ linha.detalhe == ''? linha.status : linha.detalhe }}
    </div>
</div>
<div class="modal-footer">
    ATUALIZADO EM {{ linha.atualizado.split(' ')[0] }} AS {{ linha.atualizado.split(' ')[1] }}
</div>